; Datos del .env del proyecto
; DSN: Data source name

[DSN]
DB_DRIVER =     ; Nombre del gestor de base de datos (DBSM) (como mysql, pgsql...)
DB_HOST =       ; Nombre del host donde se aloja el DBSM
DB_PORT =       ; Puerto donde se aloja el DBSM
DB_NAME =       ; Nombre de la base de datos a usar
DB_USER =       ; Usuario de la base de datos
DB_PASS =       ; Contraseña de la base de datos

; Logs de acciones del sistema
; En general se realiza un log por cada capa del sistema

[LOG]
QUERIES = "./logs/queries.log"  ; Para registrar las consultas realizadas
ROUTES = "./logs/routes.log"    ; Para registrar el consumo de los endpoints 
